<!DOCTYPE html>
<html lang="en">

    <%- include('../layout/head') %>


    <body>
        <header>
            <%- include('../layout/header') %>

            
        </header>
        <main>
            <section class="info">
                    <div>
                        <h1><%= data.country %> </h1>
                        <p>Total Confirmed: <%= data.totalconfirmed %>  </p>
                        <p>Total Deaths: <%= data.totaldeaths %>  </p>
                        <p>Total Recovered: <%= data.totalrecovered %>  </p>
                        <p>Date: <%= data.date %>  </p>

                        <form action="/delete/<%= data.id %>?_method=delete" method="POST">
                            <input type="submit" value="Delete" class="button"> 

                        </form>

                    
                    </div>
            </section>
            
        </main>
        <footer></footer>
        </body>
        </html>